<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Sports Dashboard</title>
    <link rel="stylesheet" href="/styles/user/dashboard.css" />
    <link rel="stylesheet" href="/styles/animations/bubbles.css">
</head>

<body>

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <main>
            <nav class="main-menu">
                <img class="logo" src="/images/persons/gvklogo.png" alt="" />
                <ul>
                    <li class="nav-item active">
                        <b></b>
                        <b></b>
                        <a href="#">
                            <i class="fa fa-house nav-icon"></i>
                            <span class="nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <b></b>
                        <b></b>
                        <a href="#">
                            <i class="fa fa-user nav-icon"></i>
                            <span class="nav-text">Profile</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <b></b>
                        <b></b>
                        <a href="#">
                            <i class="fa fa-calendar-check nav-icon"></i>
                            <span class="nav-text">Schedules</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <b></b>
                        <b></b>
                        <a href="#">
                            <i class="fa fa-sliders nav-icon"></i>
                            <span class="nav-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <section class="content">
                <div class="left-content">
                    <div class="activities">
                        <h1>Available Games</h1>
                        <div class="activity-container">
                            <div class="image-container img-one">
                                <img src="/images/t.webp" alt="tennis" />
                                <div class="overlay">
                                    <h3>Tennis</h3>
                                </div>
                            </div>

                            <div class="image-container img-two">
                                <img src="/images/vb.webp" alt="hiking" />
                                <div class="overlay">
                                    <h3>VolleyBall</h3>
                                </div>
                            </div>

                            <div class="image-container img-three">
                                <img src="/images/cricket.avif" alt="running" />
                                <div class="overlay">
                                    <h3>Cricket</h3>
                                </div>
                            </div>

                            <div class="image-container img-four">
                                <img src="/images/bb.jpg" alt="cycling" />
                                <div class="overlay">
                                    <h3>BasketBall</h3>
                                </div>
                            </div>

                            <div class="image-container img-five">
                                <img src="/images/k2.jpg" alt="yoga" />
                                <div class="overlay">
                                    <h3>Kabaddi</h3>
                                </div>
                            </div>

                            <div class="image-container img-six">
                                <img src="/images/fb.jpg" alt="swimming" />
                                <div class="overlay">
                                    <h3>FootBall</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="left-bottom">
                        <div class="weekly-schedule">
                            <h1>Scheduled Games</h1>
                            <div class="calendar">
                                <div class="day-and-activity activity-one">
                                    <div class="day">
                                        <h1>13</h1>
                                        <p>mon</p>
                                    </div>
                                    <div class="activity">
                                        <h2>Kabaddi</h2>
                                        <div class="participants">
                                            <img src="/images/persons/gnani.jpg" style="--i: 1" alt="" />
                                            <img src="/images/persons/dinesh.jpg" style="--i: 3" alt="" />
                                            <img src="/images/persons/gvk1.jpeg" style="--i: 2" alt="" />
                                        </div>
                                    </div>
                                    <button class="btn">Join</button>
                                </div>

                                <div class="day-and-activity activity-two">
                                    <div class="day">
                                        <h1>15</h1>
                                        <p>wed</p>
                                    </div>
                                    <div class="activity">
                                        <h2>Cricket</h2>
                                        <div class="participants">
                                            <img src="/images/persons/gnani.jpg" style="--i: 1" alt="" />
                                            <img src="/images/persons/gvk1.jpeg" style="--i: 2" alt="" />
                                        </div>
                                    </div>
                                    <button class="btn">Join</button>
                                </div>

                                <div class="day-and-activity activity-three">
                                    <div class="day">
                                        <h1>17</h1>
                                        <p>fri</p>
                                    </div>
                                    <div class="activity">
                                        <h2>Tennis</h2>
                                        <div class="participants">
                                            <img src="/images/persons/gvk1.jpeg" style="--i: 1" alt="" />
                                        </div>
                                    </div>
                                    <button class="btn">Join</button>
                                </div>

                                <div class="day-and-activity activity-four">
                                    <div class="day">
                                        <h1>18</h1>
                                        <p>sat</p>
                                    </div>
                                    <div class="activity">
                                        <h2>BasketBall</h2>
                                        <div class="participants">
                                            <img src="/images/persons/gvk1.jpeg" style="--i: 1" alt="" />
                                            <img src="/images/persons/gnani.jpg" style="--i: 2" alt="" />
                                            <img src="/images/persons/mahesh.jpg" alt="" />
                                            <img src="/images/persons/dinesh.jpg" style="--i: 4" alt="" />
                                        </div>
                                    </div>
                                    <button class="btn">Join</button>
                                </div>
                            </div>
                        </div>

                        <div class="personal-bests">
                            <h1>Create & Join</h1>
                            <div class="mobile-personal-bests-res">
                                <div class="personal-bests-container">
                                    <div class="best-item box-one">
                                        <p class="cj">Create a team</p>

                                        <button class="btn">Create</button>
                                    </div>
                                    <div class="best-item box-one two">
                                        <p class="cj">Join a team</p>

                                        <button class="btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-content">
                    <div class="user-info">
                        <div class="icon-container">
                            <i class="fa fa-bell nav-icon"></i>
                            <i class="fa fa-message nav-icon"></i>
                        </div>
                        <h4 class="user-name">Ganta Venkata Kousik</h4>
                        <img src="/images/persons/gvk1.jpeg" alt="user" />
                    </div>
                    <div class="mobile-personal-bests">
                        <div class="personal-bests-container">
                            <div class="best-item box-one">
                                <p class="cj">Create a team</p>

                                <button class="btn">Create</button>
                            </div>
                            <div class="best-item box-two">
                                <p class="cj">Join a team</p>

                                <button class="btn">Join</button>
                            </div>
                        </div>
                    </div>

                    <div class="friends-activity" style="margin-top: 2rem">
                        <h1>Recent Updates</h1>
                        <div class="card-container">
                            <div class="card">
                                <div class="card-user-info">
                                    <img src="/images/persons/gnani.jpg" alt="" />
                                    <h2>Gnani</h2>
                                </div>
                                <img class="card-img" src="/images/recent-match.jpg" alt="" />
                                <p>PopUp on hover!Detailed Info</p>
                            </div>
                            <div class="mobile-personal-bests-res">
                                <div class="personal-bests-container">
                                    <div class="best-item box-one">
                                        <p>Upgrade to latest Version</p>

                                        <button class="btn">Upgrade</button>
                                    </div>
                                    <div class="best-item box-one two">
                                        <p>Download the mobile app</p>

                                        <button class="btn">Download</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-personal-bests">
                            <div class="personal-bests-container">
                                <div class="best-item box-one">
                                    <p>Upgrade to latest Version</p>

                                    <button class="btn">Upgrade</button>
                                </div>
                                <div class="best-item box-two">
                                    <p>Download the mobile app</p>

                                    <button class="btn">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <h2>Made with love <i class="fa-solid fa-heart"></i> by<span> GVK</span></h2>
        </footer>
    </div>

    <script src="/logic/user/dashboard.js"></script>
</body>

</html>